/node_modules
/public/css/*
/public/img/*
/public/js/*
/public/svg/*
/public/.htaccess
/public/*.ico
/public/*.txt
/public/*.json
/public/*.php
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
